@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --main-background-color: #F5F6F8;
  --heading-color: #1A093F;
  --cta-btn-01: #4240A5;
  --cta-btn-02: #FD5056;
  --cta-btn-03: #EE2A52;
  --big-text: #0E142A;
  --main-text: #68676C;
  --link-color: #0E142A;
  --white: #fff;
  --secondary-color-01: #D3D3EF;
  --secondary-color-02: #FCD4DC;
  --secondary-color-03: #F5E9D3;
  --secondary-color-04: #7CCDE2;
  --secondary-color-05: #4240A5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, var(--secondary-color-04), var(--main-background-color), var(--secondary-color-01), var(--secondary-color-02), var(--main-background-color), var(--secondary-color-03), var(--secondary-color-04));
  font-family: 'Poppins', sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.grid-c2 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.grid-c4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}

.medium-text {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--cta-btn-01);
}

.big-text {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--big-text);
}

.main-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--main-text);
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--cta-btn-01);
  text-align: center;
}

.section {
  padding: 4rem;
}

.cta-btn {
  display: inline-block;
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--cta-btn-01);
  border-radius: 0.5rem;
}

.card {
  padding: 2rem;
}

@keyframes revealfromright {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes revealfromleft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  width: 100%;
  height: 100vh;
}

.intro-section {
  height: 100%;
}

.profile {
  display: grid;
  place-items: center;
}

.profile .profile-img {
  animation: revealfromleft 0.5s linear;
  width: 100%;
  height: 100%;
  max-width: 35rem;
  max-height: 35rem;
  padding-top: 2rem;
  background-color: var(--cta-btn-01);
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
}

.profile .profile-img .person-img {
  display: inline-block;
  height: 100%;
}

.intro {
  animation: reveal 0.5s ease-in-out;
}

.intro .person-name {
  font-size: 7rem;
  color: var(--heading-color);
  line-height: 1;
  margin: 1.5rem 0;
}

.intro .description {
  margin-bottom: 2rem;
  max-width: 40rem;
}

.skills-section {
  padding: 2rem 0;
}

.skills-section .main-text {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.skill {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
}

.skill .skill-img i {
  font-size: 5rem;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill:nth-child(odd) .skill-img i {
  color: var(--cta-btn-03);
}

.skill:nth-child(even) .skill-img i {
  color: var(--cta-btn-01);
}

.skill .big-text {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.services-section {
  padding: 2rem 0;
}

.services .service-text {
  opacity: 0;
  padding: 3rem;
}

.services .service-text .big-text {
  margin-bottom: 2rem;
}

.services .services-img img {
  width: 100%;
}

.reveal-from-side {
  opacity: 0;
}

.tool {
  opacity: 0;
  padding: 2rem;
  box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.1);
}

.tool:nth-child(1) {
  grid-column: 1/span 2;
}

.tool .tool-img img {
  max-height: 5rem;
}

.tool .big-text {
  font-size: 2.2rem;
  margin: 0.5rem 0;
}

.tool .main-text {
  font-size: 1.4rem;
  line-height: 1.4;
}

.working-process {
  padding: 2rem 0;
}

.working-text {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.work-step {
  margin-bottom: 1rem;
}

.work-step .process-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.work-step .process-title .step-no {
  font-size: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  background-color: var(--secondary-color-05);
  color: var(--white);
  border-radius: 50%;
  margin-right: 2rem;
}

.work-step .description {
  font-size: 1.5rem;
  line-height: 1.4;
}

.working .working-img img {
  width: 100%;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.portfolio .project-card {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.portfolio .project-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
}

.portfolio .project-card .project-img img {
  display: inline-block;
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.portfolio .project-card .project-text {
  width: 100%;
  padding: 2rem;
}

.portfolio .project-card .project-text .big-text {
  font-size: 2.2rem;
}

.portfolio .project-card .project-text .main-text {
  line-height: 1.4;
  margin: 1rem 0;
}

.portfolio .project-card .project-text .project-btn {
  padding: 0.6rem 3rem;
  border: 1px solid var(--link-color);
  color: var(--link-color);
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
}

.portfolio .project-card .project-text .project-btn:hover {
  background-color: var(--secondary-color-05);
  color: var(--white);
}

.contact-card {
  padding: 3rem;
}

.social-link {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.social-link img {
  max-height: 4rem;
  margin-right: 2rem;
}

.social-link span {
  font-size: 2rem;
  color: var(--link-color);
}

.social-link.email {
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .section {
    padding: 2rem;
  }
  .profile .profile-img {
    max-width: 25rem;
    max-height: 25rem;
  }
  .intro .person-name {
    font-size: 4.5rem;
  }
  .grid-c4 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .portfolio {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .grid-c2 {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .header {
    height: auto;
    padding: 2rem 0;
  }
  .profile {
    padding: 2rem;
  }
  .profile .profile-img {
    max-width: 20rem;
    max-height: 20rem;
  }
  .intro .description {
    margin: 2rem auto;
  }
  .skills-section {
    padding: 2rem 0;
  }
  .skills {
    grid-template-columns: 1fr 1fr;
  }
  .services .services-img {
    grid-row: 1/span 1;
  }
  .services .services-img img {
    max-width: 40rem;
  }
  .grid-c4 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .work-step .description {
    text-align: left;
  }
  .working .working-img {
    grid-row: 1/span 1;
  }
  .contact.grid-c2 {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .section-heading {
    max-width: 30rem;
    margin: auto;
  }
  .intro-section {
    padding: 0 2rem;
  }
  .skills {
    gap: 2rem;
  }
  .skill {
    box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
  }
  .skill .skill-img i {
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
  }
  .skill .big-text {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .grid-c4 {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
  }
  .tool:nth-child(1) {
    grid-column: 1/span 1;
  }
  .tool .tool-img img {
    max-height: 3.5rem;
  }
  .tool .big-text {
    font-size: 2rem;
  }
  .portfolio {
    grid-template-columns: 100%;
  }
  .project-card .project-img img {
    max-height: 15rem;
  }
  .social-link img {
    max-height: 2.5rem;
  }
  .social-link span {
    font-size: 1.8rem;
  }
  .social-link.email {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */