@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    font-size: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-size: 100vh;
    background-position: top -50vh left -50vh, bottom -50vh right -50vh;
    background-repeat: no-repeat;
    background-color: var(--dark-cyan);
    display: grid;
    place-items: center;
}

.card {
    width: 35rem;
    /* height: 50rem; */
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
}

.profile {
    width: 100%;
    height: 14rem;
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    position: relative;
}

.img-box {
    width: 10rem;
    height: 10rem;
    background-color: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    text-align: center;
    padding: 2rem;
}

.name {
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--desaturated-blue);
}

.name .age {
    font-weight: 400;
    color: var(--grayish-blue);
}

.location {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--grayish-blue);
}

.stats {
    display: flex;
    padding: 2rem 4rem;
    align-items: center;
    justify-content: space-between;
}

.stats .stats-data {
    text-align: center;
}

.stats .stats-data p {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--desaturated-blue);
}

.stats .stats-data span {
    font-size: 1.2rem;
    color: var(--grayish-blue);
    letter-spacing: 1px;
}