@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* Custom Properties */
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
}

html {
    font-size: 10px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    text-align: center;
    font-size: 7rem;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    color: var(--White);
}

.heading-small {
    font-size: 4.5rem;
    font-family: 'Fraunces', sans-serif;
    color: var(--Very-dark-desaturated-blue);
}

.heading-ex-small {
    font-size: 3rem;
    font-family: 'Fraunces', sans-serif;
    color: var(--Very-dark-desaturated-blue);
}

.main-text {
    font-size: 1.8rem;
    color: var(--Grayish-blue);
}
/* Header and Navigation Section  */
.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 5%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.navbar .nav-links-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-links-con .nav-link {
    font-size: 1.6rem;
    color: var(--White);
    margin: 0 1.5rem;
}

.navbar .nav-links-con .contact {
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--Very-dark-desaturated-blue);
    border: none;
    padding: 1rem 2rem;
    background-color: var(--White);
    border-radius: 2.5rem;
    cursor: pointer;
    margin-left: 3rem;
}

#menu-open {
    display: none;
}

.navbar .nav-links-con .contact:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--White);
}

/* Header Content */
.header-content {
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.header-content .heading {
    margin-top: -12rem;
    margin-bottom: 2rem;
}

/* Company section  */

.company {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "brand brand-img"
    "audience-img audience"
    "graphic-design photography";
}

.company img {
    width: 100%;
    display: block;
}

.company .brand {
    grid-area: brand;
}

.company .brand-img {
    grid-area: brand-img;
}

.company .audience {
    grid-area: audience;
}

.company .audience-img {
    grid-area: audience-img;
}

.company .graphic-design {
    grid-area: graphic-design;
}

.company .photography {
    grid-area: photography;
}

.company .company-text {
    padding: 10rem;
}


.company .company-text .main-text {
    margin: 4rem 0;
}

@media screen and (max-width: 1220px) {
    .company .company-text {
        padding: 5rem;
    }
}

@media screen and (max-width: 992px) {
    .company .company-text {
        padding: 2rem;
    }

    .company .heading-small {
        font-size: 3.5rem;
    }

    .company .company-text .main-text {
        margin: 2rem 0;
    }
}

.company .design {
    position: relative;
}

.company .design img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.company .design .design-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem 5rem;
    text-align: center;
}

.company .design .design-text .heading-small {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.company .design .design-text .main-text {
    max-width: 40rem;
    margin: auto;
}

.company .graphic-design .design-text .main-text {
    color: var(--Dark-desaturated-cyan);
}

.company .photography .design-text .main-text {
    color: var(--Very-dark-grayish-blue);
}

.company .company-text .company-link {
    font-size: 1.6rem;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
    position: relative;
}

.company .company-text .company-link::after {
    content: '';
    width: 100%;
    height: 0.7rem;
    background-color: var(--Yellow);
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

/* Clients Testimonials */
.client-testimonials {
    padding: 10rem 3rem;
}

.client-testimonials .heading-small {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--Dark-grayish-blue);
}

.client-testimonials .testimonial-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.testimonial-con .testimonial {
    text-align: center;
    padding: 4rem;
}

.testimonial-con .testimonial img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-con .testimonial .main-text {
    margin: 4rem 0;
}

.testimonial-con .testimonial .client-name {
    font-size: 1.8rem;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', sans-serif;
    margin-bottom: 1rem;
}

.testimonial-con .testimonial .work-post {
    font-size: 1.4rem;
    color: var(--Grayish-blue);
}

/* Featured Images Section */

.featured {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.featured img {
    width: 100%;
}

/* Footer Section */
.footer {
    background-color: var(--Dark-moderate-cyan);
    text-align: center;
    padding: 5rem;
}

.footer .footer-links {
    margin: 3rem 0;
}

.footer .footer-links a {
    font-size: 1.6rem;
    color: var(--Dark-desaturated-cyan);
    margin: 0 2rem;
}

.footer .social-icons .social-link {
    color: var(--Dark-desaturated-cyan);
    margin: 0 1rem;
    font-size: 2rem;
}


@media screen and (max-width: 768px) {

    .navbar {
        position: relative;
    }
    
    #menu-open {
        display: block;
        font-size: 3rem;
        color: var(--White);
    }

    .navbar .nav-links-con {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--White);
        flex-direction: column;
        padding: 2rem;
        display: none;
    }
    .navbar .nav-links-con.show {
        display: flex;
    }

    .navbar .nav-links-con::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 0;
        border-top: 1.5rem solid transparent;
        border-left: 1.5rem solid transparent;
        border-right: 1.5rem solid var(--White);
        border-bottom: 1.5rem solid var(--White);
    }

    .navbar .nav-links-con .nav-link {
        color: var(--Dark-grayish-blue);
        text-align: center;
        margin: 1.5rem 0;
    }

    .navbar .nav-links-con .contact {
        margin: 0;
        background-color: var(--Yellow);
        display: block;
    }

    .navbar .nav-links-con .contact:hover {
        background-color: var(--Yellow);
    }

    .company {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "brand-img"
        "brand"
        "audience-img"
        "audience"
        "graphic-design"
        "photography";
    }

    .company .company-text {
        padding: 5rem;
    }

    .heading {
        font-size: 4.5rem;
    }

    .heading-small {
        font-size: 4rem;
    }

    .client-testimonials .testimonial-con {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
    }

    .featured {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        padding: 4rem 2rem;
    }
}