/* Google Fonts link is here */
/* For body font family - Open Sans */
/* For headings font family - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* custom properties declared */
:root {
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    margin: auto;
}

@media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

img {
    width: 100%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: var(--Very-Dark-Cyan);
}

.heading-small {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 2rem;
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

.btn {
    width: 25rem;
    padding: 2rem ;
    border: none;
    outline: none;
    background-color: var(--Pink);
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    border-radius: 4rem;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
/* Header and Navigation Bar  */

.header {
    height: 70rem;
    background-color: var(--Very-Pale-Cyan);
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 15rem;
}

.navbar .logo {
    max-width: 20rem;
    display: block;
}

.navbar .nav-btn {
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    width: 20rem;
    padding: 1rem 3rem;
    border-radius: 2.5rem;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 700;
    color: var(--Very-Dark-Cyan);
}

.navbar .nav-btn:hover {
    color: var(--Grayish-Blue);
}



/* Header Content  */
.header-content {
    grid-template-columns: 40% 60%;
    gap: 4rem;
    align-items: center;
}

.header-content .header-text .main-text {
    color: var(--Very-Dark-Cyan);
    margin: 3rem 0;
}


/* Testimonial Section  */

.testimonials-con {
    width: 100%;
    margin: 8rem auto;
}

.testimonial {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3rem;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 5rem 8rem;
    border-radius: 1rem;
    grid-template-areas: 
    "testimonial-text img-box";
}

.testimonial:nth-child(even){
    grid-template-areas: 
    "img-box testimonial-text";
}

.testimonial .testimonial-text {
    grid-area: testimonial-text;
}

.testimonial .img-box, .testimonial .img-box img {
    /* max-width: 40rem; */
    width: 100%;
}

.testimonial .testimonial-text .main-text {
    color: var(--Grayish-Blue);
}

.card-con {
    margin-top: 5rem;
}

.card-con .card {
    width: 100%;
    max-width: 60rem;
    text-align: center;
    padding: 3rem 5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    background-color: #fff;
    transform: translateY(50%);
    border-radius: 1rem;

}

/* Footer Section  */

.footer {
    background-color: var(--Very-Dark-Cyan);
    padding: 15rem 7rem 7rem 7rem;
    color: #fff;
}

.footer img {
    width: 20px;
}

.footer .footer-logo {
    width: 20rem;
    display: block;
    margin-bottom: 2rem;
}


.footer-con {
    grid-template-columns: 35% repeat(3, 1fr);
    gap: 3rem;
}

.contact-info .co-link {
    display: flex;
    margin: 2rem 0;
}

.contact-info .co-link img {
    width: 1.5rem;
    margin-right: 2rem;
    height: 1.5rem;
}

.contact-info .co-link .main-text{
    font-size: 1.6rem;
}

.quick-links .main-text a {
    text-decoration: none;
    color: #fff;
}

.quick-links .main-text {
    margin: 2rem 0;
}

.social-icons .social-link {
    text-decoration: none;
    color: #fff;
    margin: 1rem;
}

.social-icons .social-link i {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 50%;
}

.copyright {
    text-align: right;
    margin-top: 2rem;
}

.copyright .main-text {
    font-size: 1.5rem;
}


/* Responsive Design  */
@media screen and (max-width: 992px) {
    .container {
        padding: 0 2rem;
    }
    .header {
        height: auto;
    }

    .header-content {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        text-align: center;
    }

    .header-content .img-box {
        padding: 2rem;
    }

    .header-content .img-box img {
        height: 100%;
    }

    .testimonial {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        text-align: center;
        grid-template-areas: 
        "img-box"
        "testimonial-text";
    }

    .testimonial:nth-child(even) {
        grid-template-areas: 
        "img-box"
        "testimonial-text";
    }

    .card-con .card {
        max-width: 40rem;
    }

    .footer-con {
        grid-template-columns: 100%;
    }

    .social-icons {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }
}