@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/bg-desktop.svg);
    background-size: 100%;
    background-color: var(--violet);
    padding: 0 3rem;
}

.header {
    padding: 4rem;
}

.header .logo {
    max-width: 20rem;
}

.content {
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    /* gap: 3rem; */
}

.content img {
    max-width: 90%;
    display: block;
}

.content-text {
    color: #fff;
    padding: 2.5rem 0;
}

.content-text h2 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

.content-text p {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    margin: 3rem 0;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: var(--violet);
    padding: 1.2rem 5rem;
    border-radius: 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: var(--soft-magenta);
    color: #fff;
}

.social-icons {
    text-align: right;
    max-width: 95%;
}

.social-icons i {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0.5rem;
    color: #fff;
    cursor: pointer;
}

.social-icons i:hover {
    border-color: var(--soft-magenta);
    color: var(--soft-magenta);
}

@media screen and (max-width: 992px) {
    .container {
        background-image: url(../images/bg-mobile.svg);
    }

    .header {
        text-align: left;
    }
    .header .logo {
        max-width: 15rem;
    }

    .content {
        grid-template-columns: 100%;
        max-width: 50rem;
        grid-template-rows: auto auto;
        margin: auto;
        text-align: center;
    }

    .content-text {
        text-align: center;
    }

    .content-text h2 {
        font-size: 2.5rem;
    }

    .social-icons {
        text-align: center;
    }
}
